@import "./breakpoints";
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: $color1;

    @include media("<=desktop") {
        background: $color2;
    }

    @include media("<=tablet") {
        background: $color3;
    }

    @include media("<=phone") {
        background: $color4;
    }
}
